* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666; }

.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .pimg1 .ptext,
  .pimg2 .ptext,
  .pimg3 .ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase; }
    .pimg1 .ptext .border,
    .pimg2 .ptext .border,
    .pimg3 .ptext .border {
      background-color: #111;
      color: #fff;
      padding: 1.2rem; }
      .pimg1 .ptext .border.trans,
      .pimg2 .ptext .border.trans,
      .pimg3 .ptext .border.trans {
        background-color: transparent; }

.pimg1 {
  background-image: url("../img/image2.jpg");
  min-height: 100%; }

.pimg2 {
  background-image: url("../img/image1.jpg");
  min-height: 400px; }

.pimg3 {
  background-image: url("../img/image3.jpg");
  min-height: 400px; }

.section {
  text-align: center;
  padding: 4em 5em; }
  .section.section-light {
    background: #f4f4f4;
    color: #666; }
  .section.section-dark {
    background: #282e34;
    color: #ddd; }

@media screen and (max-width: 568px) {
  .pimg1,
  .pimg2,
  .pimg3 {
    line-height: 1.2; }
  .section {
    margin: 0;
    padding: 1em; } }
